/*
  TailwindCSS: https://tailwindcss.com/
  I used TailwindCSS, a CSS utility library 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
  height: 100vh;
  width: 100vw;
}
#table-container {
  height: calc(68vh);
}

@media only screen and (min-width: 640px) {
  #table-container {
    height: calc(75vh);
  }
}
